# =========================
# Xilinx Vivado / FPGA
# =========================
*.jou
*.log
*.str
*.pb
*.wdb
*.vdi
*.vds
.Xil/
*/fpga/build/

!*/results/
!*/results/*

# =========================
# Symulacje
# =========================
xsim.dir/
xrun.log
xrun.history
*.vcd

# =========================
# PlatformIO (ESP32)
# =========================
.pio/

# =========================
# Srodowiska i IDE (VS Code / DVT)
# =========================
.vscode/
.dvt/*.auto.*
dvt_build.log

# =========================
# Systemowe (Windows / MacOSX)
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# =========================
# Analizy / smieci
# =========================
DOC_TEST/
dfx_runtime.txt

# =========================
# Binarki aplikacji
# =========================
*.apk